 .res
{
  background-color:orange;
   text-align:center;
    
     margin-bottom:10px;
      color:black; 
      border-radius:7px
}
.menu {
  float:left;
  width:20%;
  background-color:rgb(80, 164, 241);
   border-radius:7px; 
   margin:5px
}
.menu a {

  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
  
}
.main {
  float:left;
  width:20%;
  padding:0 20px;
  padding-right: 100px;
  background-color:rgb(211, 80, 108);
   border-radius:7px;
    margin:5px;
     width:auto;

     color:white;
}

@media only screen and (max-width:1366px) {
  .menu, .main, .wrapper, .right {
    width:auto;
  }
  
}

@media only screen and (max-width:936px) {
  .wrapper {
    display: flex;
    flex-direction: column; /* For vertical placement of items */
  }
  .div2 {
    order: 2;
  }
  
}

@media only screen and (max-width:600px) {
 
  .menu, .main, .wrapper, .right {
    width:100%;
  }
}

@media only screen and (max-width:480px) {
 
  .menu, .main, .wrapper, .right {
    width:100%;
    min-height: 5%;
  }
}

footer>.myfooter
{
  background-color:pink;
  padding:10px;
   height:64px;
   margin-top:7px;
   color:black;
   border-radius:7px;
}
 
footer>a{
  color:rgb(156, 156, 238);
  
}