$border:3px;
$wid:300px;
$hei:36px;
$fnt-fm:'Segoe UI';
$fnt-size:13px;
$pad-left:10px;
$mycolor:#666666;
$bg:#ffffff;


input{
    border-radius: $border;
    width: $wid;
    height:$hei;
    font-family:$fnt-fm;
    font-size: $fnt-size;
    padding-left: $pad-left;
    color:$mycolor;
    background-color: $bg;
   
}
:disabled{
    
border:1px solid #cccccc;
background-color:#ffffff ;
color:#999999;
cursor:not-allowed;
}

#ename
{
    background-color:#fde7e1;
border:1px solid #f44336;
color:#f44336
}


